#findDivId{
        position:absolute; /* 绝对定位，这个是随页面走动的，可以换成fixed，不随页面走动。 */
        left:0px;
        top:166px;
        z-inde:111111;
        width:1112px;
        height:16px;
       /*  background:red; */
}
.dataBillClass{
        position:absolute; /* 绝对定位，这个是随页面走动的，可以换成fixed，不随页面走动。 */
        left:91px;
        top:55px;
        z-inde:111111;
        width:255px;
        height:36px;
       /*  background:red; */
}
.dayList{
        position:absolute; /* 绝对定位，这个是随页面走动的，可以换成fixed，不随页面走动。 */
        left:421px;
        top:195px;
        z-inde:111111;
        width:295px;
        height:36px;
       /*  background:red; */
}
.tbodyIdsClass{
        position:absolute; /* 绝对定位，这个是随页面走动的，可以换成fixed，不随页面走动。 */
        left:425px;
        top:107px;
        z-inde:111111;
        width:255px;
        height:36px;
       /*  background:red; */
}
.theTotalAmountButtonCss{
        position:absolute; /* 绝对定位，这个是随页面走动的，可以换成fixed，不随页面走动。 */
        left:629px;
        top:-19px;
        z-inde:111111;
        width:385px;
        height:36px;
       /*  background:red; */
}
.selectConsumption{
        position:absolute; /* 绝对定位，这个是随页面走动的，可以换成fixed，不随页面走动。 */
        left:182px;
        top:116px;
        z-inde:111111;
        width:250px;
        height:16px;
       /*  background:red; */
}
.yearExport{
        position:absolute; /* 绝对定位，这个是随页面走动的，可以换成fixed，不随页面走动。 */
        left:448px;
        top:2px;
        z-inde:111111;
        width:250px;
        height:16px;
       /*  background:red; */
}
.eunbsp{
        position:absolute; /* 绝对定位，这个是随页面走动的，可以换成fixed，不随页面走动。 */
        left:450px;
        top:57px;
        z-inde:111111;
        width:250px;
        height:16px;
       /*  background:red; */
}
.startToendTime{
        position:absolute; /* 绝对定位，这个是随页面走动的，可以换成fixed，不随页面走动。 */
        left:652px;
        top:109px;
        z-inde:111111;
        width:250px;
        height:16px;
       /*  background:red; */
}
.w40{
    width: 40px;
}
.w70{
    width: 70px;
}
.w80{
    width: 80px;
    text-align:center;
    vertical-align:middle;
}
.w160{
    width: 160px;
}
.w180{
    width: 160px;
}
.w500{
    width: 160px;
    text-align:center;vertical-align:middle;
}

.upInput{
    width: 80px;
    border:none;
	background: #fff;
	font-size:14px;
	color: #4f6b72;
	text-align:center;
}
.upInput250{
    width: 250px;
    border:none;
	background: #fff;
	font-size:14px;
	color: #4f6b72;
}
.upInput550{
    width: 550px;
    border:none;
	background: #fff;
	font-size:14px;
	color: #4f6b72;
	text-align:center;
}
.find{
    width: 90px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/green.png) 0 0 no-repeat;
    border: none;
    left:368px;
    top:107px;
}
.execlUpload{
	position:absolute; 
    width: 90px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/blue.png) 0 0 no-repeat;
    border: none;
        left:450px;
        top:132px;
}
.theTotalAmount{
    width: 76px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/green.png) 0 0 no-repeat;
    border: none;
}
.pageX{
    width: 76px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/green.png) 0 0 no-repeat;
    border: none;
}
.pageXX{
    width: 76px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/green.png) 0 0 no-repeat;
    border: none;
}
.theMonthlyConsumption{
    width: 76px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/green.png) 0 0 no-repeat;
    border: none;
}
.theDailyConsumption{
    width: 76px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/green.png) 0 0 no-repeat;
    border: none;
}
.exportDetailsOfConsumption{
    width: 90px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/hong.png) 0 0 no-repeat;
    border: none;
}
.exportDailyConsumption{
    width: 90px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/hong.png) 0 0 no-repeat;
    border: none;
}
.yearAllExport{
	left:0px;
    top:0px;
    width: 105px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/hong.png) 0 0 no-repeat;
    border: none;
}
.save{
    width: 69px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/green.png) 0 0 no-repeat;
    border: none;
            left:0px;
        top:147px;
}
.clear{
    width: 81px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/blue.png) 0 0 no-repeat;
    border: none;
}
.gengduogongneng{
    width: 81px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/blue.png) 0 0 no-repeat;
    border: none;
}
.clear2{
    width: 76px;
    height: 30px;
    color: #fff;
    background: url(../../images/tally/blue.png) 0 0 no-repeat;
    border: none;
}
.update{
    background: url(../../images/tally/editor.png) 0 0 no-repeat;
           width: 20px;
    height: 22px;
}
.del{
    background: url(../../images/tally/del.png) 0 0 no-repeat;
       width: 20px;
    height: 22px;
}

th {
	font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA no-repeat;
}
td {common
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	font-size:14px;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}
td.alt {
	background: #F5FAFA;
	color: #797268;
}
th.spec,td.spec {
	border-left: 1px solid #C1DAD7;
} 



ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}